<div class="subscription d-flex">
  <div class="container my-5">
    <div class="row pb-3">
      <div class="col d-flex align-self-center justify-content-center">
        <h2 class="text-center">
          Get notified at
          <span class="highlight">launch</span>
        </h2>
      </div>
    </div>
    <div class="row align-content-center">
      <div class="col-lg d-flex justify-content-center px-0">
        <p class="text-center my-auto ml-lg-5">YOUR EMAIL</p>
      </div>
      <div class="col-md-10 col-lg-8 py-2">
        <input type="email" class="form-control my-input" />
      </div>
      <div
        class="col py-2 d-flex px-0 justify-content-center align-items-center"
      >
        <button class="btn my-btn">SEND</button>
      </div>
    </div>
  </div>
</div>
