.my-input {
  background-color: gainsboro;
  height: 3rem;
  width: 100%;
}
p {
  margin-right: 15px;
  font-size: 10px;
  color: var(--primary-color);
}
.highlight {
  color: var(--secondary-color);
}
