.home {
  background-color: var(--primary-color);
  position: relative;
}
* {
  color: white;
}

.icon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: var(--secondary-color);
}
.social-btn {
  border-radius: 0%;
  border: 2px solid white;
  height: 35px;
  width: 35px;
  margin-right: 1rem;
}
